
.Header{
  background-color: rgb(29, 245, 0);
  background: linear-gradient(180deg, rgb(29, 245, 0) 10%, rgb(36, 36, 36) 100%);
    grid-area: h;
  }
  
  .Header img{
    height: 114.3px;
  }

  .loginBlock {
    float: right;
    color: rgb(36, 36, 36);
  }

  .loginBlock a {
    color:rgb(36, 36, 36);
  }

 