
.App-wrapper{
  display:grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 165px 10fr;
  grid-template-areas: "h h"
  "n c"; 
  margin: 0 auto;
  }

.App-wrapper-content {
    grid-area: c;
    background-color: rgb(70, 70, 70);
    background-size: 2000px;
}